name: terraform

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Setup go
      uses: actions/setup-go@v6
      with:
        go-version-file: go.mod
    - uses: hashicorp/setup-terraform@v3
      with:
        terraform_wrapper: false
    - name: terraform validate
      run: terraform init && terraform validate
      env:
        AWS_DEFAULT_REGION: us-east-1
    - name: Run tests
      run: make test
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
